<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <dl class="descriptionList">listBox
      <dt class="messageBody">listItem</dt>
      <dd class="messageDate"></dd>
      <dd class="messageNo"></dd>
    </dl>
  </body>
</html>
