@import url('https://fonts.googleapis.com/css?family=Belleza&display=swap');

.App {
  text-align: center;
}

.App-logo {
  height: 9vw;
  margin: 10px;
}

.App-header {
  background: linear-gradient(132deg, #c8d0ff 0%, #d9e0f3 100%);

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

h1, h2 {
  font-family: "Belleza", serif;
  color: #2f447e;
  margin: 10px;
}

h1 {
  font-size: 12vw;
}

h2 {
  font-size: 8vw;
}

.message {
  background-color: #f0ded1;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  margin: 5px;
  padding-top: 60px;
  padding-bottom: 60px;
  border-radius: 20px;
  position: relative;
}

p {
  color: #2f447e;
  margin: 0px;
  margin-left: 10px;
  margin-right: 10px;
  font-size: 4vw;
}

.body, .loader {
  font-size: 6vw;
}

.body {
  font-weight: bold;
}

.date, .rec {
  top: 5px;
  position: absolute;
}

.date {
  left: 20px;
}

.rec {
  right: 20px;
}

.messageFeed {
  display: flex;
  flex-direction: column;
}