@import url('https://fonts.googleapis.com/css?family=Belleza&display=swap');

.App {
  text-align: center;
}

.App-logo {
  height: calc(6px + 5vw);
  margin-top: 10px;
  margin-right: 10px;
  margin-left: 10px;
  margin-bottom: 3px;
}

.App-header {
  background: linear-gradient(132deg, #c8d0ff 0%, #d9e0f3 100%);

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

h1, h2 {
  font-family: "Belleza", serif;
  color: #2f447e;
  margin: 10px;
}

h1 {
  font-size: calc(25px + 3.5vw);/*12vw;*/
}

h2 {
  font-size: calc(20px + 2vw);/*8vw;*/
}

.message {
  background-color: #f0ded1;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  margin: 5px;
  padding-top: calc(20px + 3vw);
  padding-bottom: calc(20px + 3vw);
  border-radius: 20px;
  position: relative;
}

p {
  color: #2f447e;
  margin: 0px;
  margin-left: 10px;
  margin-right: 10px;
  font-size: calc(8px + 1vw);
}

.body, .loader {
  font-size: calc(10px + 1vw);
}

.body {
  font-weight: bold;
}

.date, .rec {
  top: 5px;
  position: absolute;
}

.date {
  left: 20px;
}

.rec {
  right: 20px;
}

.messageFeed {
  display: flex;
  flex-direction: column;
  max-width: 800px;
  margin: auto;
}