@import url('https://fonts.googleapis.com/css?family=Belleza&display=swap');

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background: linear-gradient(132deg, #c8d0ff 0%, #d9e0f3 100%);

  min-height: 8vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /*font-size: calc(10px + 2vmin);*/
}

h1 {
  font-family: "Belleza", serif;
  font-size: 56px;
  color: #2f447e;
}

h2 {
  font-family: "Belleza", serif;
  font-size: 40px;
  color: #2f447e;
}

.message {
  background-color: #f0ded1;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  margin: 5px;
  padding-top: 60px;
  padding-bottom: 60px;
  border-radius: 20px;
  position: relative;
}

p {
  color: #2f447e;
  margin: 0px;
}

.body {
  font-weight: bold;
}

.date {
  top: 5px;
  left: 20px;
  position: absolute;
}

.rec {
  top: 5px;
  right: 20px;
  position: absolute;
}

.messageFeed {
  display: flex;
  flex-direction: column;
}